packages/
FileUpload/obj/Debug/
FileUpload/bin/
FileUpload.Tests/bin/Debug/
FileUpload.Tests/obj/
~$bUploader API文档.docx
FileUpload/Upload/
FileUpload.Tests/UnitTestTempFile.txt
FileUpload/obj/Release/
资料/
*.scgdat
*.suo
FileUpload.xUnit.Tests/bin/
FileUpload.xUnit.Tests/obj/
